<a href="https://colab.research.google.com/github/9kiwis/demo/blob/main/Pandas_%E1%83%A1%E1%83%90%E1%83%95%E1%83%90%E1%83%A0%E1%83%AF%E1%83%98%E1%83%A8%E1%83%9D%E1%83%94%E1%83%91%E1%83%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas სავარჯიშოები

## სავარჯიშო 1: DataFrame-ის შექმნა და ძირითადი ინფორმაციის მიღება

**დავალება**: შექმენით DataFrame სტუდენტების მონაცემებით (სახელი, ასაკი, საშუალო ქულა) და გამოიტანეთ სტატისტიკური ინფორმაცია.

**ამოხსნა**:

In [ ]:
import pandas as pd
import numpy as np

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'ასაკი': [20, 22, 19, 21, 20],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5]
}

# DataFrame-ის შექმნა
df = pd.DataFrame(data)

# ძირითადი ინფორმაციის ნახვა
print(df.head())
print("\nDataFrame-ის ზომა:", df.shape)
print("\nDataFrame-ის მოკლე სტატისტიკა:")
print(df.describe())
print("\nDataFrame-ის ტიპები:")
print(df.dtypes)

    სახელი  ასაკი  საშუალო_ქულა
0      ანა     20          85.5
1   გიორგი     22          92.0
2  მარიამი     19          78.5
3   დავითი     21          91.0
4     ნინო     20          88.5

DataFrame-ის ზომა: (5, 3)

DataFrame-ის მოკლე სტატისტიკა:
           ასაკი  საშუალო_ქულა
count   5.000000      5.000000
mean   20.400000     87.100000
std     1.140175      5.424482
min    19.000000     78.500000
25%    20.000000     85.500000
50%    20.000000     88.500000
75%    21.000000     91.000000
max    22.000000     92.000000

DataFrame-ის ტიპები:
სახელი           object
ასაკი             int64
საშუალო_ქულა    float64
dtype: object

## სავარჯიშო 2: CSV ფაილის წაკითხვა და მონაცემების გაწმენდა

**დავალება**: წაიკითხეთ CSV ფაილი, მოახდინეთ გამოტოვებული მნიშვნელობების იდენტიფიცირება და მათი დამუშავება.

**ამოხსნა**:

In [ ]:
import pandas as pd

data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'ასაკი': [20, 22, None, 21, 20],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, None, 88.5]
}
df = pd.DataFrame(data)
df.to_csv('students.csv')

# CSV ფაილის წაკითხვა (მაგალითისთვის)
df = pd.read_csv('students.csv')

# გამოტოვებული მნიშვნელობების იდენტიფიცირება
print("გამოტოვებული მნიშვნელობები სვეტების მიხედვით:")
print(df.isnull().sum())

# გამოტოვებული მნიშვნელობების შევსება საშუალო მნიშვნელობით
df['ასაკი'].fillna(df['ასაკი'].mean(), inplace=True)
df['საშუალო_ქულა'].fillna(df['საშუალო_ქულა'].mean(), inplace=True)

print("\nმონაცემების წმენდის შემდეგ:")
print(df)

გამოტოვებული მნიშვნელობები სვეტების მიხედვით:
Unnamed: 0      0
სახელი          0
ასაკი           1
საშუალო_ქულა    1
dtype: int64

მონაცემების წმენდის შემდეგ:
   Unnamed: 0   სახელი  ასაკი  საშუალო_ქულა
0           0      ანა  20.00        85.500
1           1   გიორგი  22.00        92.000
2           2  მარიამი  20.75        78.500
3           3   დავითი  21.00        86.125
4           4     ნინო  20.00        88.500

<ipython-input-15-6f77b9879e4f>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ასაკი'].fillna(df['ასაკი'].mean(), inplace=True)
<ipython-input-15-6f77b9879e4f>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['საშუალო_ქულა'].fillna(df['საშუალო_ქულა'].mean(), inplace=True)

## სავარჯიშო 3: მონაცემების გაფილტვრა პირობების მიხედვით

**დავალება**: გაფილტრეთ DataFrame და გამოიტანეთ მხოლოდ ის სტუდენტები, რომელთა ასაკი 20-ზე მეტია და საშუალო ქულა 85-ზე მაღალი.

**ამოხსნა**:

In [ ]:
import pandas as pd

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო', 'ლევანი', 'თამარი'],
    'ასაკი': [20, 22, 19, 21, 20, 23, 21],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5, 84.0, 94.5]
}

df = pd.DataFrame(data)

# გაფილტვრა: ასაკი > 20 და საშუალო_ქულა > 85
filtered_df = df[(df['ასაკი'] > 20) & (df['საშუალო_ქულა'] > 85)]

print("გაფილტრული მონაცემები (ასაკი > 20 და საშუალო_ქულა > 85):")
print(filtered_df)

გაფილტრული მონაცემები (ასაკი > 20 და საშუალო_ქულა > 85):
   სახელი  ასაკი  საშუალო_ქულა
1  გიორგი     22          92.0
3  დავითი     21          91.0
6  თამარი     21          94.5

## სავარჯიშო 4: ინდექსირება და მწკრივების/სვეტების შერჩევა

**დავალება**: შეცვალეთ DataFrame-ის ინდექსი სახელის სვეტით, შემდეგ შეარჩიეთ კონკრეტული სვეტები და მწკრივები სხვადასხვა მეთოდით.

**ამოხსნა**:

In [ ]:
import pandas as pd

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'ასაკი': [20, 22, 19, 21, 20],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5],
    'ფაკულტეტი': ['ბიზნესი', 'IT', 'მედიცინა', 'IT', 'ჰუმანიტარული']
}

df = pd.DataFrame(data)

# ინდექსის შეცვლა სახელის სვეტით
df_indexed = df.set_index('სახელი')
print("DataFrame სახელით ინდექსირებული:")
print(df_indexed)

# კონკრეტული სვეტების შერჩევა
selected_columns = df_indexed[['ასაკი', 'საშუალო_ქულა']]
print("\nმხოლოდ ასაკი და საშუალო ქულა:")
print(selected_columns)

# კონკრეტული მწკრივების შერჩევა ინდექსის მიხედვით
selected_rows = df_indexed.loc[['ანა', 'დავითი']]
print("\nანას და დავითის მონაცემები:")
print(selected_rows)

# მწკრივების და სვეტების შერჩევა ერთდროულად
selected_data = df_indexed.loc[['გიორგი', 'ნინო'], ['ასაკი', 'ფაკულტეტი']]
print("\nგიორგისა და ნინოს ასაკი და ფაკულტეტი:")
print(selected_data)

DataFrame სახელით ინდექსირებული:
         ასაკი  საშუალო_ქულა     ფაკულტეტი
სახელი
ანა         20          85.5       ბიზნესი
გიორგი      22          92.0            IT
მარიამი     19          78.5      მედიცინა
დავითი      21          91.0            IT
ნინო        20          88.5  ჰუმანიტარული

მხოლოდ ასაკი და საშუალო ქულა:
         ასაკი  საშუალო_ქულა
სახელი
ანა         20          85.5
გიორგი      22          92.0
მარიამი     19          78.5
დავითი      21          91.0
ნინო        20          88.5

ანას და დავითის მონაცემები:
        ასაკი  საშუალო_ქულა ფაკულტეტი
სახელი
ანა        20          85.5   ბიზნესი
დავითი     21          91.0        IT

გიორგისა და ნინოს ასაკი და ფაკულტეტი:
        ასაკი     ფაკულტეტი
სახელი
გიორგი     22            IT
ნინო       20  ჰუმანიტარული

## სავარჯიშო 5: ახალი სვეტების შექმნა და მონაცემების გარდაქმნა

**დავალება**: შექმენით ახალი სვეტები არსებული მონაცემების საფუძველზე და გარდაქმენით მონაცემები.

**ამოხსნა**:

In [ ]:
import pandas as pd

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'ასაკი': [20, 22, 19, 21, 20],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5],
    'დასწრება': [0.9, 0.85, 0.75, 0.95, 0.88]
}

df = pd.DataFrame(data)

# ახალი სვეტის შექმნა: დაბადების წელი (მიახლოებითი)
current_year = 2024
df['დაბადების_წელი'] = current_year - df['ასაკი']

# ახალი სვეტის შექმნა: საბოლოო ქულა (საშუალო ქულა * 0.8 + დასწრება * 20)
df['საბოლოო_ქულა'] = df['საშუალო_ქულა'] * 0.8 + df['დასწრება'] * 20

# ახალი სვეტის შექმნა: შეფასება
def get_grade(score):
    if score >= 91:
        return 'A'
    elif score >= 81:
        return 'B'
    elif score >= 71:
        return 'C'
    elif score >= 61:
        return 'D'
    else:
        return 'F'

df['შეფასება'] = df['საბოლოო_ქულა'].apply(get_grade)

print(df)

    სახელი  ასაკი  საშუალო_ქულა  დასწრება  დაბადების_წელი  საბოლოო_ქულა  \
0      ანა     20          85.5      0.90            2004          86.4
1   გიორგი     22          92.0      0.85            2002          90.6
2  მარიამი     19          78.5      0.75            2005          77.8
3   დავითი     21          91.0      0.95            2003          91.8
4     ნინო     20          88.5      0.88            2004          88.4

  შეფასება
0        B
1        B
2        C
3        A
4        B

## სავარჯიშო 6: მონაცემების დახარისხება და მნიშვნელობათა რანჟირება

**დავალება**: დაახარისხეთ DataFrame სხვადასხვა სვეტის მიხედვით და შექმენით რანჟირება.

**ამოხსნა**:

In [ ]:
import pandas as pd

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო', 'ლევანი'],
    'ასაკი': [20, 22, 19, 21, 20, 22],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5, 92.0],
    'ფაკულტეტი': ['ბიზნესი', 'IT', 'მედიცინა', 'IT', 'ჰუმანიტარული', 'ბიზნესი']
}

df = pd.DataFrame(data)

# დახარისხება საშუალო ქულის მიხედვით (კლებადი)
sorted_by_score = df.sort_values(by='საშუალო_ქულა', ascending=False)
print("დახარისხებული საშუალო ქულის მიხედვით (კლებადი):")
print(sorted_by_score)

# მრავალი სვეტით დახარისხება (ჯერ ფაკულტეტი, შემდეგ საშუალო ქულა)
sorted_multiple = df.sort_values(by=['ფაკულტეტი', 'საშუალო_ქულა'], ascending=[True, False])
print("\nდახარისხებული ფაკულტეტით და საშუალო ქულით:")
print(sorted_multiple)

# რანგირება საშუალო ქულის მიხედვით
df['რანგი'] = df['საშუალო_ქულა'].rank(ascending=False, method='min')
print("\nდამატებული რანგირებით:")
print(df)

დახარისხებული საშუალო ქულის მიხედვით (კლებადი):
    სახელი  ასაკი  საშუალო_ქულა     ფაკულტეტი
1   გიორგი     22          92.0            IT
5   ლევანი     22          92.0       ბიზნესი
3   დავითი     21          91.0            IT
4     ნინო     20          88.5  ჰუმანიტარული
0      ანა     20          85.5       ბიზნესი
2  მარიამი     19          78.5      მედიცინა

დახარისხებული ფაკულტეტით და საშუალო ქულით:
    სახელი  ასაკი  საშუალო_ქულა     ფაკულტეტი
1   გიორგი     22          92.0            IT
3   დავითი     21          91.0            IT
5   ლევანი     22          92.0       ბიზნესი
0      ანა     20          85.5       ბიზნესი
2  მარიამი     19          78.5      მედიცინა
4     ნინო     20          88.5  ჰუმანიტარული

დამატებული რანგირებით:
    სახელი  ასაკი  საშუალო_ქულა     ფაკულტეტი  რანგი
0      ანა     20          85.5       ბიზნესი    5.0
1   გიორგი     22          92.0            IT    1.0
2  მარიამი     19          78.5      მედიცინა    6.0
3   დავითი     21          91.0            IT    3.0
4     ნინო     20          88.5  ჰუმანიტარული    4.0
5   ლევანი     22          92.0       ბიზნესი    1.0

## სავარჯიშო 7: მონაცემების გრუპირება და აგრეგირება

**დავალება**: დააჯგუფეთ მონაცემები ფაკულტეტის მიხედვით და გამოითვალეთ სხვადასხვა სტატისტიკა.

**ამოხსნა**:

In [ ]:
import pandas as pd

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო', 'ლევანი', 'თამარი', 'სანდრო'],
    'ასაკი': [20, 22, 19, 21, 20, 22, 23, 21],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5, 76.0, 94.5, 82.0],
    'ფაკულტეტი': ['ბიზნესი', 'IT', 'მედიცინა', 'IT', 'ჰუმანიტარული', 'ბიზნესი', 'მედიცინა', 'ბიზნესი']
}

df = pd.DataFrame(data)

# ფაკულტეტის მიხედვით დაჯგუფება და სტატისტიკის გამოთვლა
grouped = df.groupby('ფაკულტეტი').agg({
    'ასაკი': ['mean', 'min', 'max', 'count'],
    'საშუალო_ქულა': ['mean', 'min', 'max', 'std']
})

print("ფაკულტეტის მიხედვით დაჯგუფებული სტატისტიკა:")
print(grouped)

# მარტივი აგრეგაცია: თითოეულ ფაკულტეტზე სტუდენტების რაოდენობა
faculty_counts = df['ფაკულტეტი'].value_counts()
print("\nსტუდენტების რაოდენობა ფაკულტეტების მიხედვით:")
print(faculty_counts)

# საშუალო ქულების გამოთვლა ფაკულტეტების მიხედვით
mean_scores_by_faculty = df.groupby('ფაკულტეტი')['საშუალო_ქულა'].mean().sort_values(ascending=False)
print("\nსაშუალო ქულები ფაკულტეტების მიხედვით (კლებადი):")
print(mean_scores_by_faculty)

ფაკულტეტის მიხედვით დაჯგუფებული სტატისტიკა:
             ასაკი               საშუალო_ქულა
              mean min max count         mean   min   max        std
ფაკულტეტი
IT            21.5  21  22     2    91.500000  91.0  92.0   0.707107
ბიზნესი       21.0  20  22     3    81.166667  76.0  85.5   4.804512
მედიცინა      21.0  19  23     2    86.500000  78.5  94.5  11.313708
ჰუმანიტარული  20.0  20  20     1    88.500000  88.5  88.5        NaN

სტუდენტების რაოდენობა ფაკულტეტების მიხედვით:
ფაკულტეტი
ბიზნესი         3
IT              2
მედიცინა        2
ჰუმანიტარული    1
Name: count, dtype: int64

საშუალო ქულები ფაკულტეტების მიხედვით (კლებადი):
ფაკულტეტი
IT              91.500000
ჰუმანიტარული    88.500000
მედიცინა        86.500000
ბიზნესი         81.166667
Name: საშუალო_ქულა, dtype: float64

## სავარჯიშო 8: მრავალმხრივი აგრეგაცია და pivot_table

**დავალება**: გამოიყენეთ pivot_table ფუნქცია მრავალმხრივი აგრეგაციისთვის.

**ამოხსნა**:

In [ ]:
import pandas as pd

# მონაცემების შექმნა
data = {
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო', 'ლევანი', 'თამარი', 'სანდრო'],
    'სქესი': ['ქალი', 'კაცი', 'ქალი', 'კაცი', 'ქალი', 'კაცი', 'ქალი', 'კაცი'],
    'ასაკი': [20, 22, 19, 21, 20, 22, 23, 21],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5, 76.0, 94.5, 82.0],
    'ფაკულტეტი': ['ბიზნესი', 'IT', 'მედიცინა', 'IT', 'ჰუმანიტარული', 'ბიზნესი', 'მედიცინა', 'ბიზნესი'],
    'კურსი': [2, 3, 1, 3, 2, 3, 4, 2]
}

df = pd.DataFrame(data)

# ფაკულტეტისა და კურსის მიხედვით საშუალო ქულების pivot table
pivot1 = pd.pivot_table(df,
                       values='საშუალო_ქულა',
                       index='ფაკულტეტი',
                       columns='კურსი',
                       aggfunc='mean')

print("საშუალო ქულების pivot table ფაკულტეტისა და კურსის მიხედვით:")
print(pivot1)

# მრავალი ცვლადისა და ფუნქციის გამოყენება
pivot2 = pd.pivot_table(df,
                       values=['საშუალო_ქულა', 'ასაკი'],
                       index=['ფაკულტეტი', 'სქესი'],
                       aggfunc={'საშუალო_ქულა': ['mean', 'std'],
                                'ასაკი': ['mean', 'count']})

print("\nკომპლექსური pivot table:")
print(pivot2)

# მეტი შესაძლებლობა: margins პარამეტრის გამოყენება ჯამური მნიშვნელობებისთვის
pivot3 = pd.pivot_table(df,
                       values='საშუალო_ქულა',
                       index='ფაკულტეტი',
                       columns='სქესი',
                       aggfunc='mean',
                       margins=True,
                       margins_name='ჯამი')

print("\nფაკულტეტისა და სქესის მიხედვით საშუალო ქულები (ჯამებით):")
print(pivot3)

საშუალო ქულების pivot table ფაკულტეტისა და კურსის მიხედვით:
კურსი            1      2     3     4
ფაკულტეტი
IT             NaN    NaN  91.5   NaN
ბიზნესი        NaN  83.75  76.0   NaN
მედიცინა      78.5    NaN   NaN  94.5
ჰუმანიტარული   NaN  88.50   NaN   NaN

კომპლექსური pivot table:
                   ასაკი       საშუალო_ქულა
                   count  mean         mean        std
ფაკულტეტი    სქესი
IT           კაცი      2  21.5         91.5   0.707107
ბიზნესი      კაცი      2  21.5         79.0   4.242641
             ქალი      1  20.0         85.5        NaN
მედიცინა     ქალი      2  21.0         86.5  11.313708
ჰუმანიტარული ქალი      1  20.0         88.5        NaN

ფაკულტეტისა და სქესის მიხედვით საშუალო ქულები (ჯამებით):
სქესი          კაცი   ქალი       ჯამი
ფაკულტეტი
IT            91.50    NaN  91.500000
ბიზნესი       79.00  85.50  81.166667
მედიცინა        NaN  86.50  86.500000
ჰუმანიტარული    NaN  88.50  88.500000
ჯამი          85.25  86.75  86.000000

## სავარჯიშო 9: DataFrame-ების გაერთიანება (concatenate)

**დავალება**: გააერთიანეთ ორი ან მეტი DataFrame სხვადასხვა მეთოდით.

**ამოხსნა**:

In [ ]:
import pandas as pd

# პირველი DataFrame - 2023 წლის მონაცემები
df_2023 = pd.DataFrame({
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი'],
    'ასაკი': [20, 22, 19, 21],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0],
    'წელი': ['2023', '2023', '2023', '2023']
})

# მეორე DataFrame - 2024 წლის მონაცემები
df_2024 = pd.DataFrame({
    'სახელი': ['ნინო', 'ლევანი', 'თამარი'],
    'ასაკი': [20, 22, 23],
    'საშუალო_ქულა': [88.5, 76.0, 94.5],
    'წელი': ['2024', '2024', '2024']
})

# მწკრივებით გაერთიანება (ვერტიკალურად)
df_combined_rows = pd.concat([df_2023, df_2024], axis=0)
print("მწკრივებით გაერთიანებული DataFrame-ები:")
print(df_combined_rows)

# ინდექსის გადანომვრა
df_combined_reset = pd.concat([df_2023, df_2024], axis=0, ignore_index=True)
print("\nინდექსის გადანომვრით:")
print(df_combined_reset)

# სვეტებით გაერთიანება (ჰორიზონტალურად) - მაგალითისთვის
# შევქმნათ ახალი DataFrame-ები სხვა მონაცემებით
df_scores = pd.DataFrame({
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'მათემატიკა': [90, 87, 75, 92, 85],
    'ისტორია': [82, 94, 88, 79, 91]
})

df_grades = pd.DataFrame({
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'მათემატიკის_შეფასება': ['A', 'B', 'C', 'A', 'B'],
    'ისტორიის_შეფასება': ['B', 'A', 'B', 'C', 'A']
})

# სვეტებით გაერთიანება 'სახელი' სვეტის მიხედვით
df_merged = pd.merge(df_scores, df_grades, on='სახელი')
print("\nსახელის მიხედვით გაერთიანებული მონაცემები:")
print(df_merged)

მწკრივებით გაერთიანებული DataFrame-ები:
    სახელი  ასაკი  საშუალო_ქულა  წელი
0      ანა     20          85.5  2023
1   გიორგი     22          92.0  2023
2  მარიამი     19          78.5  2023
3   დავითი     21          91.0  2023
0     ნინო     20          88.5  2024
1   ლევანი     22          76.0  2024
2   თამარი     23          94.5  2024

ინდექსის გადანომვრით:
    სახელი  ასაკი  საშუალო_ქულა  წელი
0      ანა     20          85.5  2023
1   გიორგი     22          92.0  2023
2  მარიამი     19          78.5  2023
3   დავითი     21          91.0  2023
4     ნინო     20          88.5  2024
5   ლევანი     22          76.0  2024
6   თამარი     23          94.5  2024

სახელის მიხედვით გაერთიანებული მონაცემები:
    სახელი  მათემატიკა  ისტორია მათემატიკის_შეფასება ისტორიის_შეფასება
0      ანა          90       82                    A                 B
1   გიორგი          87       94                    B                 A
2  მარიამი          75       88                    C                 B
3   დავითი          92       79                    A                 C
4     ნინო          85       91                    B                 A

## სავარჯიშო 10: DataFrame-ების შეერთება (join/merge)

**დავალება**: გამოიყენეთ სხვადასხვა ტიპის join ოპერაციები DataFrame-ების დასაკავშირებლად.

**ამოხსნა**:

In [ ]:
import pandas as pd

# სტუდენტების DataFrame
students = pd.DataFrame({
    'სტუდენტის_ID': [101, 102, 103, 104, 105],
    'სახელი': ['ანა', 'გიორგი', 'მარიამი', 'დავითი', 'ნინო'],
    'ფაკულტეტი_ID': [1, 2, 3, 2, 4]
})

# ფაკულტეტების DataFrame
faculties = pd.DataFrame({
    'ფაკულტეტი_ID': [1, 2, 3, 5],
    'ფაკულტეტი': ['ბიზნესი', 'IT', 'მედიცინა', 'სამართალი']
})

# ქულების DataFrame
scores = pd.DataFrame({
    'სტუდენტის_ID': [101, 102, 103, 106, 107],
    'საშუალო_ქულა': [85.5, 92.0, 78.5, 91.0, 88.5]
})

# Inner Join: მხოლოდ ის მწკრივები, რომლებიც ორივეგან გვხვდება
inner_join = pd.merge(students, faculties, on='ფაკულტეტი_ID', how='inner')
print("Inner Join სტუდენტებსა და ფაკულტეტებს შორის:")
print(inner_join)

# Left Join: მარცხენა DataFrame-ის ყველა მწკრივი
left_join = pd.merge(students, faculties, on='ფაკულტეტი_ID', how='left')
print("\nLeft Join:")
print(left_join)

# Right Join: მარჯვენა DataFrame-ის ყველა მწკრივი
right_join = pd.merge(students, faculties, on='ფაკულტეტი_ID', how='right')
print("\nRight Join:")
print(right_join)

# Outer Join: ორივე DataFrame-ის ყველა მწკრივი
outer_join = pd.merge(students, faculties, on='ფაკულტეტი_ID', how='outer')
print("\nOuter Join:")
print(outer_join)

# სხვადასხვა სახელის მქონე სვეტებით join
students_scores = pd.merge(
    students,
    scores,
    left_on='სტუდენტის_ID',
    right_on='სტუდენტის_ID',
    how='outer'
)
print("\nსტუდენტები ქულებით (Outer Join):")
print(students_scores)

Inner Join სტუდენტებსა და ფაკულტეტებს შორის:
   სტუდენტის_ID   სახელი  ფაკულტეტი_ID ფაკულტეტი
0           101      ანა             1   ბიზნესი
1           102   გიორგი             2        IT
2           103  მარიამი             3  მედიცინა
3           104   დავითი             2        IT

Left Join:
   სტუდენტის_ID   სახელი  ფაკულტეტი_ID ფაკულტეტი
0           101      ანა             1   ბიზნესი
1           102   გიორგი             2        IT
2           103  მარიამი             3  მედიცინა
3           104   დავითი             2        IT
4           105     ნინო             4       NaN

Right Join:
   სტუდენტის_ID   სახელი  ფაკულტეტი_ID  ფაკულტეტი
0         101.0      ანა             1    ბიზნესი
1         102.0   გიორგი             2         IT
2         104.0   დავითი             2         IT
3         103.0  მარიამი             3   მედიცინა
4           NaN      NaN             5  სამართალი

Outer Join:
   სტუდენტის_ID   სახელი  ფაკულტეტი_ID  ფაკულტეტი
0         101.0      ანა             1    ბიზნესი
1         102.0   გიორგი             2         IT
2         104.0   დავითი             2         IT
3         103.0  მარიამი             3   მედიცინა
4         105.0     ნინო             4        NaN
5           NaN      NaN             5  სამართალი

სტუდენტები ქულებით (Outer Join):
   სტუდენტის_ID   სახელი  ფაკულტეტი_ID  საშუალო_ქულა
0           101      ანა           1.0          85.5
1           102   გიორგი           2.0          92.0
2           103  მარიამი           3.0          78.5
3           104   დავითი           2.0           NaN
4           105     ნინო           4.0           NaN
5           106      NaN           NaN          91.0
6           107      NaN           NaN          88.5

## სავარჯიშო 11: დროითი მწკრივების დამუშავება

**დავალება**: დაამუშავეთ დროითი მწკრივების მონაცემები, შეცვალეთ ინდექსი თარიღით და გამოიყენეთ დროითი მწკრივების ფუნქციები.

**ამოხსნა**:

In [ ]:
import pandas as pd
import numpy as np

# დროითი მწკრივების მონაცემების შექმნა - მაღაზიის ყოველდღიური გაყიდვები
date_range = pd.date_range(start='2023-01-01', end='2023-01-31', freq='D')
sales_data = {
    'თარიღი': date_range,
    'გაყიდვები': np.random.randint(100, 500, size=len(date_range)),
    'მომხმარებლები': np.random.randint(20, 100, size=len(date_range))
}

df = pd.DataFrame(sales_data)

# თარიღის ინდექსად შეცვლა
df_dated = df.set_index('თარიღი')
print("დროითი მწკრივების DataFrame:")
print(df_dated.head())

# თარიღის ატრიბუტების ექსტრაქცია
df_dated['წელი'] = df_dated.index.year
df_dated['თვე'] = df_dated.index.month
df_dated['დღე'] = df_dated.index.day
df_dated['კვირის_დღე'] = df_dated.index.dayofweek  # 0 = ორშაბათი, 6 = კვირა

print("\nთარიღის კომპონენტებით:")
print(df_dated.head())

# დროითი რესემპლინგი: კვირის საშუალო გაყიდვები
weekly_sales = df_dated['გაყიდვები'].resample('W').mean()
print("\nკვირის საშუალო გაყიდვები:")
print(weekly_sales)

# დროითი წანაცვლება: წინა დღესთან შედარება
df_dated['წინა_დღის_გაყიდვები'] = df_dated['გაყიდვები'].shift(1)
df_dated['გაყიდვების_ცვლილება'] = df_dated['გაყიდვები'] - df_dated['წინა_დღის_გაყიდვები']

print("\nგაყიდვების ცვლილება:")
print(df_dated[['გაყიდვები', 'წინა_დღის_გაყიდვები', 'გაყიდვების_ცვლილება']].head())

# მოძრავი საშუალო (rolling window)
df_dated['3_დღის_საშუალო'] = df_dated['გაყიდვები'].rolling(window=3).mean()

print("\n3 დღის მოძრავი საშუალო:")
print(df_dated[['გაყიდვები', '3_დღის_საშუალო']].head(10))

დროითი მწკრივების DataFrame:
            გაყიდვები  მომხმარებლები
თარიღი
2023-01-01        399             26
2023-01-02        190             46
2023-01-03        386             45
2023-01-04        211             47
2023-01-05        368             50

თარიღის კომპონენტებით:
            გაყიდვები  მომხმარებლები  წელი  თვე  დღე  კვირის_დღე
თარიღი
2023-01-01        399             26  2023    1    1           6
2023-01-02        190             46  2023    1    2           0
2023-01-03        386             45  2023    1    3           1
2023-01-04        211             47  2023    1    4           2
2023-01-05        368             50  2023    1    5           3

კვირის საშუალო გაყიდვები:
თარიღი
2023-01-01    399.000000
2023-01-08    280.857143
2023-01-15    255.857143
2023-01-22    233.142857
2023-01-29    265.000000
2023-02-05    130.500000
Freq: W-SUN, Name: გაყიდვები, dtype: float64

გაყიდვების ცვლილება:
            გაყიდვები  წინა_დღის_გაყიდვები  გაყიდვების_ცვლილება
თარიღი
2023-01-01        399                  NaN                  NaN
2023-01-02        190                399.0               -209.0
2023-01-03        386                190.0                196.0
2023-01-04        211                386.0               -175.0
2023-01-05        368                211.0                157.0

3 დღის მოძრავი საშუალო:
            გაყიდვები  3_დღის_საშუალო
თარიღი
2023-01-01        399             NaN
2023-01-02        190             NaN
2023-01-03        386      325.000000
2023-01-04        211      262.333333
2023-01-05        368      321.666667
2023-01-06        111      230.000000
2023-01-07        309      262.666667
2023-01-08        391      270.333333
2023-01-09        235      311.666667
2023-01-10        225      283.666667

## სავარჯიშო 12: კომპლექსური მონაცემების ანალიზი

**დავალება**: მოახდინეთ კომპლექსური მონაცემების დამუშავება მრავალი ფუნქციის კომბინირებით.

**ამოხსნა**:

In [ ]:
import pandas as pd
import numpy as np

# პროდუქტების გაყიდვების მონაცემები
data = {
    'თარიღი': pd.date_range(start='2023-01-01', periods=100, freq='D'),
    'მაღაზია_ID': np.random.choice(['A', 'B', 'C', 'D'], size=100),
    'პროდუქტი_ID': np.random.choice(['P1', 'P2', 'P3', 'P4', 'P5'], size=100),
    'რაოდენობა': np.random.randint(1, 50, size=100),
    'ფასი': np.random.uniform(10, 100, size=100).round(2),
    'აქცია': np.random.choice([0, 1], size=100, p=[0.7, 0.3])
}

# DataFrame-ის შექმნა
df = pd.DataFrame(data)

# გამოთვლილი სვეტი: ჯამური თანხა
df['თანხა'] = df['რაოდენობა'] * df['ფასი']

# თარიღის ინდექსად შენახვა
df['თვე'] = df['თარიღი'].dt.month
df['კვირის_დღე'] = df['თარიღი'].dt.dayofweek

# 1. გაყიდვების ჯამები მაღაზიების მიხედვით
store_sales = df.groupby('მაღაზია_ID').agg({
    'თანხა': 'sum',
    'რაოდენობა': 'sum'
}).sort_values('თანხა', ascending=False)

print("გაყიდვები მაღაზიების მიხედვით:")
print(store_sales)

# 2. ტოპ პროდუქტები გაყიდვების მიხედვით
top_products = df.groupby('პროდუქტი_ID').agg({
    'თანხა': 'sum',
    'რაოდენობა': 'sum'
}).sort_values('თანხა', ascending=False)

print("\nტოპ პროდუქტები:")
print(top_products)

# 3. მაღაზიების ეფექტურობის ანალიზი
store_performance = df.groupby(['მაღაზია_ID', 'თვე']).agg({
    'თანხა': 'sum',
    'რაოდენობა': 'mean',
    'აქცია': 'mean'  # აქციების პროცენტული წილი
}).reset_index()

print("\nმაღაზიების ეფექტურობა თვეების მიხედვით:")
print(store_performance.head(8))

# 4. ტრენდები კვირის დღეების მიხედვით
weekday_trend = df.groupby('კვირის_დღე').agg({
    'თანხა': ['sum', 'mean'],
    'რაოდენობა': ['sum', 'mean']
})

print("\nგაყიდვები კვირის დღეების მიხედვით:")
print(weekday_trend)

# 5. გაფილტვრა და გრუპირების კომბინაცია
# მხოლოდ აქციის მქონე პროდუქტები მაღაზიების მიხედვით
promo_sales = df[df['აქცია'] == 1].groupby(['მაღაზია_ID', 'პროდუქტი_ID']).agg({
    'თანხა': 'sum',
    'რაოდენობა': 'sum'
}).sort_values(['მაღაზია_ID', 'თანხა'], ascending=[True, False])

print("\nაქციური პროდუქტების გაყიდვები მაღაზიების მიხედვით:")
print(promo_sales.head(10))

# 6. Pivot table: მაღაზიების გაყიდვები პროდუქტების მიხედვით
sales_pivot = pd.pivot_table(df,
                            values='თანხა',
                            index='მაღაზია_ID',
                            columns='პროდუქტი_ID',
                            aggfunc='sum',
                            fill_value=0)

print("\nGაყიდვების pivot table:")
print(sales_pivot)

გაყიდვები მაღაზიების მიხედვით:
               თანხა  რაოდენობა
მაღაზია_ID
D           46648.15        847
C           33849.39        615
A           27744.61        499
B           26409.69        506

ტოპ პროდუქტები:
                თანხა  რაოდენობა
პროდუქტი_ID
P5           30938.39        509
P1           28389.77        539
P3           27622.38        583
P4           24376.95        450
P2           23324.35        386

მაღაზიების ეფექტურობა თვეების მიხედვით:
  მაღაზია_ID  თვე    თანხა  რაოდენობა     აქცია
0          A    1  9684.96  19.900000  0.200000
1          A    2  8120.65  20.000000  0.571429
2          A    3  4202.48  13.000000  0.000000
3          A    4  5736.52  27.000000  0.250000
4          B    1  4233.11  14.833333  0.333333
5          B    2  9283.05  25.833333  0.000000
6          B    3  9778.32  32.500000  0.333333
7          B    4  3115.21  22.333333  0.333333

გაყიდვები კვირის დღეების მიხედვით:
               თანხა              რაოდენობა
                 sum         mean       sum       mean
კვირის_დღე
0           17949.21  1196.614000       362  24.133333
1           20582.64  1470.188571       379  27.071429
2           16781.05  1198.646429       360  25.714286
3           15765.21  1126.086429       240  17.142857
4           19241.94  1374.424286       316  22.571429
5           25751.84  1839.417143       468  33.428571
6           18579.95  1238.663333       342  22.800000

აქციური პროდუქტების გაყიდვები მაღაზიების მიხედვით:
                          თანხა  რაოდენობა
მაღაზია_ID პროდუქტი_ID
A          P3           3583.94         41
           P4            816.53         22
           P1            717.36         24
           P2            135.50          2
B          P1           3833.18         55
           P5           1971.42         33
           P3            493.56         36
           P4            286.44         12
C          P4           3761.04         54
           P1           2067.30         24

Gაყიდვების pivot table:
პროდუქტი_ID        P1        P2       P3       P4        P5
მაღაზია_ID
A             4487.86   3736.30  7375.93  6280.70   5863.82
B            14397.05    863.88  5633.69  3239.09   2275.98
C             4276.56   2811.62  6182.34  7351.30  13227.57
D             5228.30  15912.55  8430.42  7505.86   9571.02